<div id="header">
    <h1 id="logo">Lendmo</h1>
    <!-- Can be replaced with an image -->
    <!-- <img id="logo" src="" /> -->

    <ol id="header-right">
        <li><% link_to @user_name, profile_path(@user_name) %></li>
        <li><% link_to "Log out", (path to log out page) %></li> <!-- PLEASE EDIT -->
    </ol>
</div>
