<div id="userbox">
    <!-- <% image_tag path_to(@user_image), :id => "userbox-image" %> -->
    <h1><% link_to @user_name, path_to(@user) %></h1> <!-- PLEASE EDIT -->
    <p><span id="user-points"><%= @points %></span> points</p>

    <!-- Facebook/Lendmo friends -->
</div>
