<div class="container">
  <h1>Lendmo, the social lending platform!</h1>

  <% if (@token) %>
    <a href="/logout"><button class="btn large danger">Logout</button></a>
  <% else %>
    <a href="/login"><button class="btn large primary">Login with Facebook</button></a>
  <% end %>
</div>
