<link href='/app/assets/stylesheets/home_style.css' rel='stylesheet' type='text/css'>

<center>
    <div class = 'container'>

      <div id = 'landing_buffer'>
      </div>
      
      <div id = 'landing_login'>
      Login
      </div>

      <div id = 'landing_title'>
      Lendmo
      </div>

      <div id = 'landing_info'>
        <div id = 'landing_catchphrase'>
          SHARING IS CARING
        </div>
        <div id = 'landing_catchphrase2'>
          And Lendmo helps you keep track of who has what.
        </div>
      </div>
      
      <div id = 'landing_connect'>

          <span id = 'connect_button'>
          <div id = 'connect_button_text'><br></div>
            <% if (@token) %>
                <a href='/logout'>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Logout</a>
            <% else %>
                <a href='/login'>&nbsp &nbsp &nbsp &nbsp Connect using Facebook</a>
            <% end %>
        </span>
      </div>
    </div>
</center>
