<div class="hero-unit">
  <br><h1>Lendmo</h1>
  <h2>SHARING IS CARING</h2>
  <p>And Lendmo helps you keep track of who has what.</p>
  
  <a href="/auth/facebook">
      <button class="btn large primary" id="connect-button">
      &nbsp; &nbsp; &nbsp; Connect with Facebook
      </button>
  </a>
</div>

<%= debug session %>
