/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require styles.css
 *= require chosen.css
*/

@-moz-document url-prefix() {
    #lend-form .chzn-container {
        float: left;
		margin: 5px 5px 0 0;
    }
	#lend-form input {
		margin-top: 4px;
	}
}