body
{
    /* Old browsers */
    background: #006400; 
    /* FF3.6+ */
    background: -moz-linear-gradient(top,  #006400 0%, #84d69a 100%); 
    /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006400), color-stop(100%,#84d69a)); 
    /* Chrome10+,Safari5.1+ */
    background: -webkit-linear-gradient(top,  #006400 0%,#84d69a 100%); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(top,  #006400 0%,#84d69a 100%);
    /* IE10+ */
    background: -ms-linear-gradient(top,  #006400 0%,#84d69a 100%); 
    /* W3C */
    background: linear-gradient(top,  #006400 0%,#84d69a 100%); 
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006400', endColorstr='#84d69a',GradientType=0 ); 

    color: white;
}

.container
{
    height:530px; 
    width:600px;
    font-family: 'Viga', sans-serif;
}

#landing_buffer
{
    height:25%;
}

#landing_login
{
    height:5%; 
    float:right;
}

#landing_title
{
    height:26%; 
    font-size:120px;
}

#landing_info
{
    height:15%; 
}

#landing_catchphrase
{
    font-size:30px;
}

#landing_catchphrase2
{
    font-size:20px;
}

#landing_connect
{
    height: 15%;
}

#connect_button
{
    display:block; 
    width:254px; 
    height: 45px; 
    background-image: url(/app/assets/images/facebook.png);
}

#connect_button_text
{
    font-size:10px;
}
