@import "bootstrap/bootstrap.less";

/* Mixins */
.transition-double(@property1, @property2) {
	-webkit-transition-property: @property1, @property2;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: @property1, @property2;
	-moz-transition-duration: 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear;
	transition-property: @property1, @property2;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

.overflow-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
}

/* Globals */
a {
	text-decoration: none !important;
	.transition(color .1s linear);
}

ul, li {
	list-style: none;
}

.clear {
    clear: both;
}

hr {
	border: none;
	border-bottom: solid 1px #999;
	.box-shadow(0px 1px 0px #FFF);
}

/* Main */
html, body { 
	background-color: #eee; 
	height: 100%;
}

#landing-header {
	display: none;
	
	#header {
		background: #333;
		color: #EEE;
	}
	
	h1, h2, h3, p { color: #EEE; }
	a { 
		color: #DDD !important;
		&:hover { color: #FFF !important; }
	}
}

#header {
	background: #333;
	padding: 5px 0;
	
	.container { width: 840px; }
	h1 { float: left; margin: 0; }
	a { 
		float: right; 
		color: #DDD;
		&:hover { color: #FFF; }
	}
	ul {
		float: right;
		margin: 10px 0 0 0;
		li { float: left; margin-left: 10px; }
	}
}

.hero-unit {
	text-align: center;
	font-family: 'Viga';
	height: 100%;
	padding-top: 200px;
	#gradient .vertical(#006400, #84d69a);
	.border-radius(0px 0px 5px 5px);
	
	h1, h2, h3, p { color: white; }
	h1 { 
		font-size: 120px; 
		text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	}
	
	#connect-button {
		width: 254px;
		height: 45px;
		background-image: url('/assets/facebook.png');
		background-color: transparent;
		border: none;
		font-size: 16px;
		.box-shadow(none);
		.transition(none);
		&:hover {
			background-position: 0px -45px;
		}
	}
}

.main {
	width: 840px;
	h1, h2, h3, h4, h5 { font-family: 'Viga'; }
	
	.content {
		background-color: #fff;
		padding: 20px;
		margin: 0 -20px;
		.border-radius(0px 0px 6px 6px);
		.box-shadow(0 1px 2px rgba(0,0,0,.15));
	}
	
	.page-header {
		background-color: #f5f5f5;
		padding: 30px 20px 25px;
		margin: -20px -20px 20px;
		font-size: 25px;
	}
}

#profile {
	padding-left: 60px;
	img { float: left; margin-left: -60px; }
}

#user-feed {
	margin-bottom: 10px;
}