@import "bootstrap/bootstrap.less";

/* Mixins */
.transition-double(@property1, @property2) {
	-webkit-transition-property: @property1, @property2;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: @property1, @property2;
	-moz-transition-duration: 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear;
	transition-property: @property1, @property2;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

.overflow-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
}

/* Globals */
@bodyTextColor: #333;

/* ::selection, ::-moz-selection { 
	color: #FFF; 
	background: #DDD; 
} */

a {
	text-decoration: none !important;
	.transition(color .1s linear);
}

ul, li {
	list-style: none;
}

.clear {
    clear: both;
}

hr {
	border: none;
	border-bottom: solid 1px #999;
	.box-shadow(0px 1px 0px #FFF);
}

/* Main */

