<div id="header">
  <div class="container">
    <h1><%= link_to("Lendmo", root_path) %></h1>
    <% if self.current_user %>
      <%= link_to("Logout", :controller => "sessions", :action => "destroy") %>
      <%= link_to self.current_user.name, self.current_user %>
    <% end %>
  </div>
</div>
