<div id="header">
  <div class="container">
    <h1><div id = 'title'><img id = 'logo' src = '/assets/logo.png'></img><%= link_to("   Lendmo", root_path) %></div></h1>
    <ul id="header-links">
    <% if signed_in? %>
      <li><%= link_to current_user.name, current_user %></li>
      <li><%= link_to("Logout", :controller => "sessions", :action => "destroy") %></li>
    <% end %>
    </ul>
  </div>
</div>
