<div id="user-box">
  <h3><%= @user.name %>'s friends on Lendmo</h3>
  <% @user.friends(session[:token]).each do |friend| %>
    <% if User.exists(friend.identifier) %>
      <%= friend.name %> <br/>
    <% end %>
  <% end %>
</div>
